<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-white">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="table-div" id="account-table">
        <div>
        <table class="table" style="vertical-align : middle; width: 1000px; margin-top: 7%; margin-left:auto; margin-right:auto;">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">닉네임</th>
                <th scope="col">가입일</th>
                <th scope="col">회원권한</th>
                <th scope="col">권한변경</th>
                <th scope="col">관리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${accountList}">
                <th th:text="${account.id}">1</th>
                <td th:text="${account.nickname}">닉네임</td>
                <td th:text="${#temporals.format(account.joinedAt,'yyyy-MM-dd HH:mm')}">가입일</td>
                <td th:text="${account.accountRole.roleDesc}">회원권한</td>
                <td><button type="button" class="btn btn-secondary">관리자로 등록</button></td>
                <td><button type="button" th:name="${accountList.getNumber()}" class="btn btn-danger account-delete" th:value="${account.id}">강제탈퇴</button></td>
            </tr>
            </tbody>
        </table>
        </div>
        <nav aria-label="Page navigation example" th:if="${accountList.getTotalPages() > 0}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!accountList.hasPrevious()}? disabled">
                    <a class="page-link management-page" th:value="${accountList.getNumber() - 1}">Previous</a>
                </li>
                <li class="page-item" th:classappend="${i == accountList.getNumber() + 1}? active"
                    th:each="i: ${#numbers.sequence(startBlockPage, endBlockPage)}">
                    <a class="page-link current-page management-page" th:value="${i}-1" th:text="${i}"></a>
                </li>
                <li class="page-item" th:classappend="${!accountList.hasNext()}? disabled">
                    <a class="page-link management-page" th:value="${accountList.getNumber() + 1}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div th:replace="fragments.html :: modal"></div>
<div th:replace="fragments.html :: management-account"></div>
</body>
</html>