<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: head"></head>

<body class="bg-white">
    <div th:replace="fragments.html :: main-nav"></div>

    <div class="container">
        <div class="py-5 text-center">
            <h2>글 작성</h2>
        </div>
        <div class="row justify-content-center">
            <form class="needs-validation col-sm-10" th:action="@{/new-post}" th:object="${postForm}"
                  method="post" enctype="multipart/form-data" novalidate>
                <div class="row justify-content-center mx-auto col-9">
                    <div class="col">
                        <input id="title" type="text" th:field="*{title}" class="form-control" style="width: 300px"
                               placeholder="제목" aria-describedby="titleHelp" required minlength="2" maxlength="20" />
                        <small id="titleHelp" class="form-text text-muted">
                            제목을 입력해주세요.
                        </small>
                        <small class="invalid-feedback">제목을 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
                    </div>
                    <div class="col">
                        <select th:field="*{category}" class="form-select">
                            <option value="">공간(필수)</option>
                            <option th:each="category : ${categories}" th:value="${category.categoryName}"
                                    th:text="${category.categoryName}">원룸</option>
                        </select>
                    </div>
                    </div>
            <br>
            <div class="row justify-content-center mx-auto col-9">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header" >
                            사진 업로드
                        </div>
                        <div id="current-image" class="mt-3">
                            <img class="rounded" width="125" height="125" alt="name" src="/image/basic_photo.png" th:value="*{imageFiles}"/>
                        </div>
                        <div id="new-image" class="mt-3"></div>
                        <div class="card-body">
                            <input type="file" class="form-control" multiple="multiple" name="imageFiles">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label for="content">내용 입력</label>
                    <input type="text" id="content" th:field="*{content}" class="form-control" style="height: 200px"
                              placeholder="자세한 내용을 입력해주세요." aria-describedby="contentHelp" required/>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">content Error</small>
                    <br>
                    <div>
                        <div>
                            <input id="tags" type="text" name="tags" class="tagify-outside" aria-describedby="tagHelp"/>
                        </div>
                    </div>
                    <small class="form-text text-muted">키워드를 입력해보세요 :)</small>
                </div>
            </div>
                <div class="form-group">
                    <button class="btn home white-font" type="submit" aria-describedby="submitHelp">등록</button>
                </div>
                <div class="form-group">
                    <input id="postImage" type="hidden" th:field="*{imageFiles}" class="form-control" />
                </div>
            </form>
        </div>

        <div class="fragments.html :: footer"></div>
    </div>
    <script th:replace="fragments.html :: form-validation"></script>

    <script type="application/javascript" th:inline="javascript">
        $(function () {
            const csrfToken = /*[[${_csrf.token}]]*/ null;
            const csrfHeader = /*[[${_csrf.headerName}]]*/ null;
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            })
        });
    </script>

    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script type="application/javascript">
        $(function () {
            function tagRequest(url, tagTitle) {
                $.ajax({
                    dataType: "json",
                    autocomplete: {
                        enabled: true,
                        rightKey: true,
                    },
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "/tags" + url,
                    data: JSON.stringify({'tagTitle' : tagTitle})
                }).done(function (data, status) {
                    console.log("${data} and status is ${status}");
                });
            }

            function onAdd(e) {
                tagRequest("/add", e.detail.data.value);
            }

            function onRemove(e) {
                tagRequest("/remove", e.detail.data.value);
            }

            const tagInput = document.querySelector("#tags");
            const tagify = new Tagify(tagInput, {
                pattern: /^.{0,20}$/,
                dropdown : {
                    enabled: 1,      // suggest tags after a single character input
                }  // map tags
            });

            tagify.on("add", onAdd);
            tagify.on("remove", onRemove);

            // add a class to Tagify's input element
            tagify.DOM.input.classList.add('form-control');
            // re-place Tagify's input element outside of the element (tagify.DOM.scope), just before it
            tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);

        });
    </script>
</body>
</html>