<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: head"></head>

<body class="bg-white">

    <div th:replace="fragments.html :: main-nav"></div>

        <div class="container mt-5">
            <div class="row justify-content-md-center">
                <div class="col-sm-1"></div>
                <div class="col-sm-7"  style="margin-top: 5%">
                    <div class="post-category" style="color: gray">
                        <div>
                            <span th:text="${post?.category}">카테고리</span>
                        </div>
                        <div style="text-align: right; margin-right: 10%" >
                            <span th:text="${#temporals.format(post.writeTime,'yyyy-MM-dd HH:mm')}">작성시간</span>
                        </div>
                    </div>
                    <br>
                    <div class="titleImage" style="width:50px">
                          <img class="rounded" th:each="imageFile : ${post.imageFiles}"
                                 th:src="|/images/${imageFile.getStoreFilename()}|" width="800" height="800" style="margin-bottom: 10%"/>
                    </div>
                    <div class="row" style="margin-bottom: 20px; margin-top: 15px">
                        <div class="tagList" style="width:100px; color: #35c5f0;" th:each="tag : ${postTagList}" >
                            #<span class="tags" th:text="${tag.getTag().getTagTitle()}"></span>
                        </div>
                    </div>
                    <div>
                        <span th:text="${post.content}">내용</span>
                    </div>

                </div>
                <div class="col-sm-4" style="border-left: 1px solid lightgray; margin-top: 5%; width: 365px">
                    <div style="margin-left: 7%">
                        <div class="row">
                            <div class="col-sm-5">
                                <button type="button" class="btn btn-light" style="width: 120px; height: 50px">
                                    <svg th:if="${like}" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="crimson" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                    <svg th:if="${!like}" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="crimson" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                    </svg>
                                        <span style="font-size: 13px; width: 13px; height: 13px" th:id="${post.post_num}">[[${post.likes}]]</span>
                                </button>
                            </div>
                            <div class="col-sm-5">
                                <button type="button" class="btn btn-light" style="width: 120px; height: 50px">북마크</button>
                            </div>
                            <div class="dropdown col-sm-2" style="text-align: center">
                                <a role="button" class="btn dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"
                                        style="width: 30px; height: 30px; border-radius: 70%; background-color: gray"></a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="width: 50px">
                                        <li><a class="dropdown-item" th:href="@{'/'}" >신고하기</a></li>
                                        <li><a th:if="${isOwner}" class="dropdown-item" th:href="@{'/post-update/' + ${post_num}}">수정하기</a></li>
                                        <li><a th:if="${isOwner}" class="dropdown-item" th:href="@{'/post-delete/' + ${post_num}}">삭제하기</a></li>
                                    </ul>
                            </div>
                        </div>
                        <br>
                        <div class="row post-profile" style="margin-top: 3%">
                            <div class="col-sm-2" style="margin-right: 1%">
                                <svg th:if="${#strings.isEmpty(post.account.profile?.image)}" class="post-img"
                                     th:data-jdenticon-value="${post.account.loginId}" width="50" height="50"></svg>
                                <img th:if="${!#strings.isEmpty(post.account.profile?.image)}" class="post-img"
                                     th:src="${post.account.profile?.image}"
                                     width="50" height="50" alt="name" th:alt="${post.account.loginId}"/>
                            </div>
                            <div class="col-sm" style="text-align: left">
                                <div>
                                    <span th:text="${post.account.nickname}" style="font-weight: bold; font-size: 15px">닉네임</span>
                                </div>
                                <div>
                                    <span th:text="${post.account.profile?.bio}" style="font-size: 11px; color: gray">한줄소개</span>
                                </div>
                            </div>
                              <div class="col-sm-3">
                                <button type="button" class="btn home white-font" style="width: 80px;">팔로우</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragments.html :: footer"></div>
        </div>
</body>
</html>