<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: head"></head>

<body class="bg-white">
    <div th:replace="fragments.html :: main-nav"></div>

    <div class="container">
        <div class="py-5 text-center">
            <h2>글 작성</h2>
        </div>
        <div class="row justify-content-center">
            <form class="needs-validation col-sm-10" th:action="@{'/update-post/' + ${id}}" th:object="${postForm}"
                  method="post" enctype="multipart/form-data" novalidate>
                <div class="row justify-content-center mx-auto col-9">
                    <div class="col">
                        <input id="title" type="text" th:field="*{title}" class="form-control" style="width: 300px"
                               placeholder="제목" aria-describedby="titleHelp" required minlength="2" maxlength="20" />
                        <small id="titleHelp" class="form-text text-muted">
                            제목을 입력해주세요.
                        </small>
                        <small class="invalid-feedback">제목을 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
                    </div>
                </div>
            <br>
            <div class="row justify-content-center mx-auto col-9">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header" >
                            사진 업로드
                        </div>
                        <div id="current-image" class="mt-3">
                            <img class="rounded" width="125" height="125" alt="name" src="/image/basic_photo.png" th:value="*{imageFiles}"/>
                        </div>
                        <div id="new-image" class="mt-3"></div>
                        <div class="card-body">
                            <input type="file" class="form-control" multiple="multiple" name="imageFiles">
                        </div>
                        <div id="post-imageList">
                            <div class="input-group mb-3" th:each="imageFile : ${imageFiles}" th:id="${imageFile.id}">
                                <span th:text="${imageFile.origFilename}" style="margin-left: 20px; margin-right: 20px"></span>
                                <button th:value="${imageFile.id}" class="btn-close image-delete-btn" type="button"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label for="content">내용 입력</label>
                    <textarea id="content" th:field="*{content}" class="form-control" style="height: 200px"
                              placeholder="자세한 내용을 입력해주세요." aria-describedby="contentHelp" required></textarea>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">content Error</small>
                    <br>
                    <div>
                        <div>
                            <input id="tags" type="text" name="tags" th:value="${tagStr}" maxlength="6"
                                   class="tagify-outside" aria-describedby="tagHelp" />
                        </div>
                    </div>
                    <small class="form-text text-muted">6자 이내로 키워드를 입력해보세요 :)</small>
                </div>
            </div>
                <div class="form-group row" style="text-align: right">
                    <div class="col-9"></div>
                    <div class="col">
                        <button class="btn home white-font post-update-cancle" type="button" aria-describedby="submitHelp">취소</button>
                    </div>
                    <div class="col">
                        <button class="btn home white-font" type="submit" aria-describedby="submitHelp">수정</button>
                    </div>
                </div>
            <input id="postImage" type="hidden" th:field="*{imageFiles}" class="form-control" />
            <input hidden id="delete_image_id" name="delete_image"/>
            </form>
            <div hidden th:value="${id}" id="post_id"></div>
        </div>
        <div class="fragments.html :: footer"></div>
    </div>
    <script type="application/javascript" th:inline="javascript">
        $(".post-update-cancle").click(function (){
            location.href = "/post/" + $("#post_id").attr("value");
        });
    </script>
    <script th:replace="fragments.html :: form-validation"></script>
    <script th:replace="fragments.html :: ajax-csrf-header"></script>
    <script th:replace="fragments.html :: tags"></script>
    <div th:replace="fragments.html :: image-list"></div>
</body>
</html>