<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: head"></head>
<body class="bg-white">

<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="row" style="margin-left: 8%; margin-right: 8%; padding-top: 35px">
        <div class="col-sm-1">
            <select class="form-select" aria-label="Default select example" style="width: 100px">
                <option selected>정렬</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-sm-4">
            <select class="form-select" aria-label="Default select example" style="width: 130px">
                <option selected>주거형태</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <div class="col-sm-12">
            <div class="row" style="margin-left: 8%; margin-right: 8%; padding-top: 15px">
                <div class="col-md-3" th:each="post: ${postList}" style="padding-left: 10px; padding-bottom: 15px;">
                    <div class="card mb-3" style="width: 260px; border: white">
                    <div class="row">
                        <div class="row postList-profile card-text" style="padding-bottom: 16px;" >
                            <div class="col-sm-2" style="margin: auto;">
                                <svg th:if="${#strings.isEmpty(post.account.profile?.image)}" class="post-img"
                                     th:data-jdenticon-value="${post.author}" width="36" height="36"></svg>
                                <img th:if="${!#strings.isEmpty(post.account.profile?.image)}" class="post-img"
                                     th:src="${post.account.profile?.image}"
                                     width="36" height="36" alt="name" th:alt="${post.author}"/>
                            </div>
                            <div class="col card-title" style="text-align: left; margin: auto; height: 38px; font-size: 15px">
                                    <div class="col">
                                        <span th:text="${post.account.nickname}">닉네임</span>
                                        <span style="color: #35c5f0 ">팔로우</span>
                                    </div>
                                    <div>
                                        <span class="postList-bio" th:text="${post.account.profile.bio}" style="font-size: small; color: gray; height: 16px">한줄소개</span>
                                    </div>
                            </div>
                            </div>
                        </div>
                        <div class="post-detail">
                            <div>
                                <img class="rounded card-img postList-img" th:src="|/images/${post.imageFiles[0].getStoreFilename()}|" width="270" height="285" style="padding-bottom: 12px; border-radius: 20px;"/>
                            </div>
                            <div class="row card-text" style="text-align: center; padding-bottom: 12px">
                                <div class="col">♡</div>
                                <div class="col">북마크</div>
                                <div class="col">댓글</div>
                            </div>
                            <div>
                                <span class="card-text" th:text="${post.title}">글 제목</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>