<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-white">
<div th:replace="fragments.html :: main-nav"></div>
<div th:replace="fragments.html :: sub-nav"></div>
<div class="container">
    <br>
    <div class="row justify-content-center">
        <div class="card col-3 mt-2" th:align="center" id="profile-box">
            <div class="mt-2">
                <img th:if="${#strings.isEmpty(owner.profile?.image)}" class="profile-img"
                     src="/image/profile.png" width="125" height="125"/>
                <img th:if="${!#strings.isEmpty(owner.profile?.image)}" class="profile-img"
                     th:src="${owner.profile.image}"
                     width="125" height="125"/>
            </div>
            <h4 class="display-8" th:text="${owner.nickname}">nickname</h4>
            <div class="row mt-2 justify-content-center">
                    <dl style="display: flex; font-size: 13px;" class="justify-content-center follow-dl">
                        <dt style="font-weight: lighter">팔로잉</dt>
                        <dd th:text="${owner.followList.size()}" style="margin-left:10px; font-weight: bold; cursor: pointer" id="following"
                            onMouseover="this.style.color='blue';" onMouseout="this.style.color='black';">팔로잉 수</dd>
                        <dt style="font-weight: lighter; margin-left:10px;">팔로워</dt>
                        <dd th:text="${owner.followerList.size()}" style="margin-left:10px; font-weight: bold; cursor: pointer" id="follower"
                            onMouseover="this.style.color='blue';" onMouseout="this.style.color='black';">팔로워 수</dd>
                    </dl>
            </div>
            <div th:if="${isOwner}">
                <a class="btn home follow white-font" th:href="@{/settings/profile}">프로필 수정</a>
            </div>
            <div th:if="${!isOwner}">
                <button th:if="${!follow}" class="btn home followBtn white-font" th:style="500px">팔로우</button>
                <button th:if="${follow}" class="btn btn-outline-secondary unfollowBtn" th:style="500px">팔로잉</button>
            </div>
            <div hidden id="ownerId" th:value="${owner.loginId}"></div>
            <br>
            <div class="card-text">
                <small th:if="${!#strings.isEmpty(owner.profile?.bio)}" th:text="${owner.profile?.bio}">bio</small>
            </div>
            <div class="card-text" style="text-align: center">
                <p th:if="${!#strings.isEmpty(owner.profile?.url)}">
                            <span style="font-size: 20px;">
                                <i class="fa fa-link col-1"></i>
                            </span>
                    <small th:text="${owner.profile.url}" class="col-11"></small>
                </p>
            </div>
        </div>
        <div class="col-8 profile-list" id="profile-postList">
            <div class="mt-5" style="margin-left: 10%; margin-bottom: 30px">
                <div style="padding-left: 10px; font-size: 18px; font-weight: bold">
                        <span th:text="${listText}">게시물</span>
                        <span th:text="${postList.getTotalElements()}" style="color: #35c5f0">글 개수</span>
                </div>
                <div class="row" style="margin-right: 8%; padding-top: 15px">
                    <div class="col-md-3" th:each="post: ${postList}" style="padding-left: 10px; padding-bottom: 15px">
                        <a th:href="@{'/post/'+${post.id}}">
                            <img class="profile-postList-img" th:src="|/images/${post.imageFiles[0].getStoreFilename()}|" width="170" height="170"/>
                        </a>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example" th:if="${postList.getTotalPages() > 0}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!postList.hasPrevious()}? disabled">
                        <a class="page-link list-pre-page" th:value="${postList.getNumber() - 1}">Previous</a>
                    </li>
                    <li class="page-item" th:classappend="${i == postList.getNumber() + 1}? active"
                        th:each="i: ${#numbers.sequence(startBlockPage, endBlockPage)}">
                        <span class="page-link list-cur-page" th:value="${i}-1" th:text="${i}"></span>
                    </li>
                    <li class="page-item" th:classappend="${!postList.hasNext()}? disabled">
                        <a class="page-link list-next-page" th:value="${postList.getNumber() + 1}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div th:replace="fragments.html :: profile-sub-nav-list"></div>
<div th:replace="fragments.html :: follow-list"></div>
<div th:replace="fragments.html :: followBtn-profile"></div>
<div th:replace="fragments.html :: follow-list-page"></div>
</body>
</html>
