<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Homestagram</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs5.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

     <style>
        .container {
            max-width: 100%;
        }

        .form-group{
            height: 110px; width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
        .tagify-outside{
            border: 0;
            padding: 0;
            margin: 0;
        }
        #homestagram-logo {
            height: 200px;
            width: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }
        h3{
            text-align: center;
        }
        .main-page-li {
            padding-right: 15%;
        }
        .main-page-div {
            width:1200px;
            height:380px;
            overflow: hidden;
        }
        .main-page-img {
            width:1200px;
            height:380px;
            overflow: hidden;
        }
        #profile-box{
            border: 1px solid lightgray;
            margin: auto 0 15px 0;
            padding-top: 15px;
            padding-right: 15px;
            width: 280px;
            height: 380px;
            text-align: center;
        }
        #logo-img {
            height: auto;

            margin-left: 2%;
            overflow: hidden;
        }
        #footer-logo {
            text-align: center;
        }
        #nav-list{
           margin-left: auto;
        }
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR","Century Gothic", "Jeju Gothic",
            "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
        .btn.home{
           background: #35c5f0;
        }
        .btn.color-light{
            background: white;
            color: black;
        }
        .follow{
            color: white;
            width: 150px;
        }
        .white-font{
            color: white;
        }
        .post-img{
            border-radius: 70%;
            overflow: hidden;
        }
        .postList-img{
            border-radius: 20px;
        }
        .profile-postList-img{
            border-radius: 7px;
            overflow: hidden;
        }
        .postList-bio{
            overflow: hidden;
        }
        .profile-img{
            border-radius: 70%;
            overflow: hidden;
            width: 120px;
        }
        .dropdown-menu{
            width: 120px;
        }
        body,
        input,
        button,
        select,
        optgroup,
        textarea,
        .tooltip,
        .popover {
            font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR","Century Gothic", "Jeju Gothic",
            "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
    </style>
</head>
<body>

<nav th:fragment="main-nav" class="navbar navbar-expand-sm navbar-light" style="background-color: #EBFBFF">
    <a id = "logo-img" class="navbar-brand" href="/" th:href="@{/}">
        <img src="/image/logo.png" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-2">
                <form th:action="@{/search}" class="form-inline" method="get">
                    <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="검색" aria-label="Search" />
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/postList}">커뮤니티</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Q&A</a>
            </li>
        </ul>

        <ul class="navbar-nav justify-content-end" id = "nav-list">
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/login}">로그인</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/sign-up}">가입</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/}">
                    <i class="fa fa-plus" aria-hidden="true"></i> 내 게시물
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/}">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <div class="btn-group">
                    <a class="btn dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="background: #EBFBFF">
                        <svg th:if="${#strings.isEmpty(account?.profile?.image)}" th:data-jdenticon-value="${#authentication?.name}"
                             width="24" height="24" class="rounded border bg-light"></svg>
                        <img th:if="${!#strings.isEmpty(account?.profile?.image)}" th:src="${account.profile.image}"
                             width="24" height="24" class="rounded border"/>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink" style="width: 100px">
                        <a class="dropdown-item" th:href="@{'/profile/' + ${account.loginId}}">프로필</a>
                        <a class="dropdown-item" th:href="@{'/new-post'}" >새 글 작성</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" th:href="@{'/settings/profile'}">설정</a>
                        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit">로그아웃</button>
                        </form>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>

<footer th:fragment="footer">
    <div class="row justify-content-center" id="footer-logo">
        <a id = "logo-img-footer" class="navbar-brand" href="/" th:href="@{/}">
            <img src="/image/logo.png" width="30" height="30" >
        </a>
        Homestagram
    </div>
</footer>

<div th:fragment="sub-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item sub-nav-list">
                        <a id="photoList" class="nav-link photoList" href="#">사진</a>
                    </li>
                    <li class="nav-item sub-nav-list">
                        <a class="nav-link" href="#">게시물</a>
                    </li>
                    <li class="nav-item sub-nav-list">
                        <a id="likeList" class="nav-link likeList" href="#">좋아요</a></li>
                    <li class="nav-item sub-nav-list" id="bookmarkList">
                        <a class="nav-link bookmarkList" href="#">북마크</a>
                    </li>
                </ul>
            <div id="profileOwner" th:value="${account.loginId}" hidden></div>
        </div>
    </nav>
</div>

<div th:fragment="settings-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" href="#" th:href="@{/settings/profile}">프로필</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active" href="#" th:href="@{/settings/password}">비밀번호</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'notifications'}? active" href="#" th:href="@{/settings/notifications}">알림</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'account'}? active" href="#" th:href="@{/settings/account}">계정</a>
</div>

<div th:fragment="editor-script">
    <script src="/node_modules/summernote/dist/summernote-bs5.js"></script>
    <script type="application/javascript">
        $(function () {
            $('#content').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
                placeholder: '글 내용을 작성해주세요. :)',
                tabsize: 2,
                height: 200,
                maxHeight: 250,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });
    </script>
</div>

<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {

            var forms = document.getElementsByClassName('needs-validation');


            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>

<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>

<div th:fragment="tags">
    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script type="application/javascript">
        $(function () {

            const tagInput = document.querySelector("#tags");
            const tagify = new Tagify(tagInput, {
                pattern: /^.{0,20}$/,
                dropdown : {
                    enabled: 1,      // suggest tags after a single character input
                }  // map tags
            });

            // add a class to Tagify's input element
            tagify.DOM.input.classList.add('form-control');
            // re-place Tagify's input element outside of the element (tagify.DOM.scope), just before it
            tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);

        });
    </script>
</div>

<div th:fragment="update-tags (baseUrl)">
    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script type="application/javascript" th:inline="javascript">
        $(function() {
            function tagRequest(url, tagTitle) {
                $.ajax({
                    dataType: "json",
                    autocomplete: {
                        enabled: true,
                        rightKey: true,
                    },
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "[(${baseUrl})]" + url,
                    data: JSON.stringify({'tagTitle': tagTitle})
                }).done(function (data, status) {
                    console.log("${data} and status is ${status}");
                });
            }

            function onAdd(e) {
                tagRequest("/add", e.detail.data.value);
            }

            function onRemove(e) {
                tagRequest("/remove", e.detail.data.value);
            }

            var tagInput = document.querySelector("#tags");
            const tagify = new Tagify(tagInput, {
                pattern: /^.{0,20}$/,
                dropdown : {
                    enabled: 1,      // suggest tags after a single character input
                }  // map tags
            });
            tagify.on("add", onAdd);
            tagify.on("remove", onRemove);
            // add a class to Tagify's input element
            tagify.DOM.input.classList.add('form-control');
            // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
            tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
        });
    </script>
</div>

<div th:fragment="like">
    <script type="application/javascript" th:inline="javascript">

        $(".heart-click").click(function() {
            console.log("하트 클릭")
            let id = $(this).attr('value');

            // 빈하트를 눌렀을때
            if($(this).children('svg').attr('class') === "bi bi-heart"){
                console.log("빈하트")
                $.ajax({
                    url : '/like/add',
                    type : 'get',
                    data : {
                        id : id,
                    },
                    success : function(likes) {

                        console.log("좋아요 추가 성공");
                        console.log(likes);
                        $('#'+id).text(likes);
                    }
                });

                // 꽉찬하트로 바꾸기
                $(this).html("<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='crimson' class='bi bi-heart-fill' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z'/></svg>");
                $('.heart_icon'+id).html("<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='crimson' class='bi bi-heart-fill' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z'/></svg>");


                // 꽉찬 하트를 눌렀을 때
            }else if($(this).children('svg').attr('class') === "bi bi-heart-fill"){
                console.log("꽉찬 하트")
                $.ajax({
                    url : '/like/remove',
                    type : 'get',
                    data : {
                        id : id,
                    },
                    success : function(likes) {

                        console.log("좋아요 삭제 성공");
                        console.log(likes);

                        $('#'+id).text(likes);

                    }
                });
                // 빈하트로 바꾸기
                $(this).html("<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='crimson' class='bi bi-heart' viewBox='0 0 16 16'><path d='m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z'/></svg>");
                $('.heart_icon'+id).html("<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='crimson' class='bi bi-heart' viewBox='0 0 16 16'><path d='m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z'/></svg>");
            }
        });
    </script>
</div>

<div th:fragment="bookmark">
    <script type="application/javascript" th:inline="javascript">

        $(".bookmark-click").click(function() {
            console.log("북마크 클릭")
            let id = $(this).attr('value');

            // 빈하트를 눌렀을때
            if($(this).children('svg').attr('class') === "bi bi-bookmark"){
                console.log("빈 북마크")
                $.ajax({
                    url : '/bookmark/add',
                    type : 'get',
                    data : {
                        id : id,
                    },
                    success : function(bookmark) {

                        console.log("북마크 추가 성공");
                        console.log(bookmark);
                        $('#bookmark'+id).text(bookmark);
                    }
                });

                // 꽉찬 북마크로 바꾸기
                $(this).html("<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='#005baf' class='bi bi-bookmark-fill' viewBox='0 0 16 16'><path d='M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z'/></svg>");
                $('.bookmark_icon'+id).html("<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='#005baf' class='bi bi-bookmark-fill' viewBox='0 0 16 16'><path d='M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z'/></svg>");


                // 꽉찬 북마크를 눌렀을 때
            }else if($(this).children('svg').attr('class') === "bi bi-bookmark-fill"){
                console.log("꽉찬 북마크")
                $.ajax({
                    url : '/bookmark/remove',
                    type : 'get',
                    data : {
                        id : id,
                    },
                    success : function(bookmark) {

                        console.log("북마크 삭제 성공");
                        console.log(bookmark);

                        $('#bookmark'+id).text(bookmark);

                    }
                });
                // 빈 북마크로 바꾸기
                $(this).html("<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='#005baf' class='bi bi-bookmark' viewBox='0 0 16 16'><path d='M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z'/></svg>");
                $('.bookmark_icon'+id).html("<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='#005baf' class='bi bi-bookmark' viewBox='0 0 16 16'><path d='M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z'/></svg>");
            }
        });
    </script>
</div>

<div th:fragment="selectbox-orderBy">
    <script type="application/javascript" th:inline="javascript">

        $("#selectBox-orderBy").change( function(){
            console.log("정렬 클릭")
            //최신순 눌렀을 때
            if($(this).val() ===  "writeTime"){

                console.log("최신순")
                $.ajax({
                    url : '/postList/writeTime',
                    type : 'get',
                    success : function(fragment) {
                        console.log("최신순 정렬 성공")
                        $('#postList-div').replaceWith(fragment);
                    }
                });

                // 좋아요순 눌렀을 때
            }else if($(this).val() === "likes"){
                console.log("좋아요순")
                $.ajax({
                    url : '/postList/likes',
                    type : 'get',
                    success : function(fragment) {
                        console.log("좋아요순 정렬 성공")
                        $('#postList-div').replaceWith(fragment);
                    }
                });
            }
        });
    </script>
</div>

<div th:fragment="selectbox-category">
    <script type="application/javascript" th:inline="javascript">

        $("#selectBox-category").change( function(){
            console.log("카테고리 클릭")

                console.log($(this).val())

                $.ajax({
                    url : '/postList/category/'+$(this).val(),
                    type : 'get',
                    success : function(fragment) {

                        $('#postList-div').replaceWith(fragment);
                    }
                });
        });
    </script>
</div>

<div th:fragment="profile-list">
    <script type="application/javascript" th:inline="javascript">

        $("#likeList").click( function(){
            console.log("좋아요 클릭")
            let loginId = $("#profileOwner").attr("value");
            console.log(loginId)

            $.ajax({
                url : '/profile/like/' + loginId,
                type : 'get',
                success : function(fragment) {

                    $('#profile-postList').replaceWith(fragment);
                }
            });
        });

        $("#photoList").click( function(){
            console.log("사진 클릭")
            let loginId = $("#profileOwner").attr("value");
            console.log(loginId)

            $.ajax({
                url : '/profile/photoList/' + loginId,
                type : 'get',
                success : function(fragment) {

                    $('#profile-postList').replaceWith(fragment);
                }
            });
        });
    </script>
</div>
</body>
</html>