<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-white">
<nav th:replace="fragments.html :: main-nav"></nav>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: settings-menu(currentMenu='account')"></div>
        </div>
        <div class="col-8">
            <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                <span th:text="${message}">완료</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="row">
                <form class="needs-validation col-12" th:object="${accountForm}" th:action="@{/settings/account}" method="post" novalidate>
                    <div class="form-group">
                        닉네임 변경
                        <input id="nickname" type="text" th:field="*{nickname}" class="form-control" aria-describedby="nicknameHelp" required>
                        <small id="nicknameHelp" class="form-text text-muted">
                            공백없이 문자와 숫자로만 3자 이상 20자 이내로 입력하세요.
                        </small>
                        <small class="invalid-feedback">닉네임을 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">nickname Error</small>
                    </div>
                     <div class="form-group">
                        아이디 변경
                        <input id="loginId" type="text" th:field="*{loginId}" class="form-control" aria-describedby="loginIdHelp" required>
                        <small id="loginIdHelp" class="form-text text-muted">
                            5~10자 이내로 작성해주세요.
                        </small>
                        <small class="invalid-feedback">아이디를 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">loginId Error</small>
                    </div>

                    <div class="form-group">
                        이메일 변경
                        <input id="emailId" type="text" th:field="*{email}" class="form-control" aria-describedby="emailHelp" required>
                        <small id="emailHelp" class="form-text text-muted">
                            이메일 형식으로 작성해주세요.
                        </small>
                        <small class="invalid-feedback">이메일을 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</small>
                    </div>
                    <div class="form-group">
                        전화번호 변경
                        <input id="phoneNumber" type="text" th:field="*{phoneNumber}" class="form-control" aria-describedby="phoneNumberHelp" required>
                        <small id="phoneNumberHelp" class="form-text text-muted">
                            10~11자 이내로 입력하세요.
                        </small>
                        <small class="invalid-feedback">전화번호를 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phoneNumber Error</small>
                    </div>
                    <div class="form-group">
                        <button class="btn white-font" type="submit" aria-describedby="submitHelp">변경하기</button>
                    </div>
                </form>
            </div>
            <div class="dropdown-divider"></div>
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-danger">계정 삭제</h2>
                    <div class="alert alert-danger" role="alert">
                        이 계정은 삭제할 수 없습니다.
                    </div>
                    <button class="btn btn-outline-danger disabled">계정 삭제</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments.html :: footer"></div>
</div>
<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>